<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>hey</div>
    <form action="/create" method="POST">
        <!-- <div>Enter a task</div> -->
        <input type="text" id="name" name="name"required/>
        <input type="text" id="SRN" name="SRN"required/>
        <input type="text" id="section" name="section"required/>
        <input type="submit">
    </form>
    
</body>
</html>